.product {
	display: inline-block;
	width: 16%
}



/* img {
	width: 163px;
	padding-bottom: 0px;
	margin-bottom: 0px; */
/* } */

.profile img {
	width: 100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


.name p {
	color: #222222;
	margin: 0px 0px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	font-family: 'Shadows Into Light', cursive;
}

.maker p {
	color: #595959;
	font-size: 12px;
	margin: 0px 0px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	font-family: 'Lobster', cursive;
}

.money p {
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	color: #222222;
	font-family: 'Monoton', cursive;
}

h2 {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.best p {
	font-size: 11px;
	font-family: 'Permanent Marker', cursive;
	/* background-color: rgb(218, 221, 103); */
	/* border-radius: 40px; */
}

.best span {
	background-color: rgb(218, 221, 103);
	padding: 5px;
	border-radius: 40px;
	margin: 0px;
}

.star {
	margin: 0px;
}

.star img {
	display: inline-block;
	width: 12px;
	margin: 0px;
}

.star p {
	display: inline-block;
	font-size: 12px;
	margin: 0px;
	color: #595959;
	font-family: Graphik
}



.rate p {
	display: inline-block;
	margin: 0px;
	/* left: 50%; */
}

.circle {
	display: inline-block;
	/* width: 100%; */
	margin: 10 px;
}

.circle a {
	color: white;

}

.circle span {
	background-color: rgb(166, 77, 46);
	padding: 5px;
	border-radius: 40px;
	margin: 5px
}
