.product {
	display: inline-block;
}

/* img {
	width: 163px;
	padding-bottom: 0px;
	margin-bottom: 0px; */
/* } */

.profile img {
	width: 163px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


.name p {
	color: #222222;
	margin: 0px 0px;
	font-size: 14px;
}

.maker p {
	color: #595959;
	font-size: 12px;
	margin: 0px 0px;
}

.money p {
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	color: #222222;
}

h2 {
	text-align: center;
}

.best p {
	font-size: 11px;
	/* background-color: rgb(218, 221, 103); */
	/* border-radius: 40px; */
}

.best span {
	background-color: rgb(218, 221, 103);
	padding: 5px;
	border-radius: 40px;
	margin: 0px;
}

.star {
	margin: 0px;
}

.star img {
	display: inline-block;
	width: 12px;
	margin: 0px;
}

.star p {
	display: inline-block;
	font-size: 12px;
	margin: 0px;
	color: #595959;
}



.rate p {
	display: inline-block;
	margin: 0px;
}
